.image-carousel {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    transition: background-image 0.5s ease-in-out;
}

.events-searchbar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    border-radius: 10px;
    padding: 10px;
}

.events-home-button {
    display:grid;
    justify-content: center;
    align-items: center;
}

.events-listing {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    margin: 10px;
}

.expandable-box {
    margin: 10px 0;
    width: 500px;
    padding: 10px;
    cursor: pointer;
    transition: height 0.3s ease;
    border: 2px solid black;
background-color: darkseagreen;}

.expandable-box.expanded {
    background-color: #f0f0f0;
    height: auto; /*expands box*/
    box-sizing: border-box;
    width: 550px;
}

.expandable-box p {
    display: none;
}

.expandable-box.expanded p {
    display: block;
}

.events-header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: darkgreen;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.events-header-logo {
    display:flex;
    justify-content: center; 
    margin-left: 5px;
}

.events-header-circle {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;

}

.events-search-spacer {
    display: grid;
    justify-content: left;
    align-items: center;
    height: 30vh;
}

.sign-up {
    display: flex;
    justify-content: right;
    top: 0;
}