html, body {
    background-color: #EAF1E9;
    margin: 0;
    padding: 0;
}

.home-container {
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0.1rem 2rem;   
    border-bottom: 1px solid #ccc;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.nav-logo {
    width: 60px;
    height: 60px;
    display: block;
}

.nav-title {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0.5rem;
    padding: 0;
}

.nav-center {
    display: flex;
    gap: 1.5rem;
    margin-left: 2.75rem;
    /* align-items: center; */
}

.nav-link {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    color: #333;
    margin: 0;
    padding: 0;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-button {
    border: 1px solid #333;
    background-color: #fff;
    /* padding: 0.5rem 0.5rem; */
    cursor: pointer;
    text-transform: uppercase;
}

.nav-button:hover {
    background-color: #f0f0f0;
}

.nav-button-signin {
    background-color: #F1EAEA;
    color: #333;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-button-signin:hover {
    background-color: #e2dcdc;
}

.nav-button-join {
    background-color: #254222;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-button-join:hover {
    background-color: #1c3419;
}